<%= render 'widgets/search_form' %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#widgetForm">
  Create new Widget
</button>

<table class="table table table-striped" id="widgets">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Kind</th>
      <th scope="col">User</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'widget', collection: @widgets %>
  </tbody>
</table>


<%= render "widgets/form" %>
