<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag reset_password_users_path, method: :post do %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        </div>
        <div class="modal-body">
          <div class="fields">
            <%= label_tag 'user[email]', "Email" %>
            <%= email_field_tag 'user[email]', nil, class: "form-control", autofocus: true, placeholder: "Enter your Email Address" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "RESET", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
