<div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag sessions_path, method: :post do %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>
        </div>
      <div class="modal-body">
        <div class="form-group">
          <%= email_field_tag 'user[username]', nil, class: "form-control", autofocus: true, placeholder: "Email or username" %>
        </div>
        <div class="form-group">
          <%= password_field_tag 'user[password]', nil, class: "form-control", placeholder: "Password" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag "Login", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
